/* ================================================
                        Style Commun
 ================================================ */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.red-font {
    color: #e54c2a;
}
.gray-font {
    color: #8e8e8eff;
}
.black-font {
    color: #000000;
}
.green-font {
    color: #84b535;
}
.white-font {
    color: #ffffff;
}
.rem07-font {
    font-size: 0.7rem;
}
.rem10-font {
    font-size: 1rem;
}
.rem12-font {
    font-size: 1.2rem;
}
.rem16-font {
    font-size: 1.6rem;
}

.rem22-font {
    font-size: 2.2rem;
}
.rem3-font {
    font-size: 3rem;
}

.bold {
    font-weight: bold;
}

.btn-red {
    all: unset;
    color: #d9544f;
    font-size: 1.1rem;
    border: 2px solid #d9544f;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: bold;
}
/* ================================================
                       Accueil
================================================ */

/*header--------------------------------------------------------------------------------------------------------*/
header {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.accueil .fond img {
    position: absolute;
    z-index: 0;
    width: 55%;
    top: -7%;
    left: -19%;
}

.accueil header .container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.accueil header .container .logo-header {
    width: 170px;
}

.accueil .container h1 {
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 0;
}

.accueil header .container p {
    margin-top: 0;
    max-width: 720px;
    line-height: 2;
}

.accueil nav {
    position: relative;
    width: 100%;
    height: 90px;
    box-shadow: 0 -4px 0px rgba(0, 0, 0, 0.166);
    background-color: #e54c2a;
    display: flex;
    justify-content: flex-end; /* Aligne à droite */
    align-items: center;
}

.accueil nav .cercle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
    height: 115px;
    background-color: #e54c2a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4px;
    z-index: 10;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.accueil nav .cercle img {
    width: 50%;
    filter: brightness(0) invert(0.9);
}

.accueil nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-right: 250px;
}

.accueil nav li {
    color: white;
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.162);
}

.accueil nav li:last-child {
    border-right: none;
}

.accueil nav a img {
    padding: 0 10px;
    width: 15px;
    height: auto;
}

.accueil nav a img:hover {
    transform: scale(1.1);
}

/* bloc discover-story---------------------------------------------------------------------------------------------------*/
.accueil .discover-story {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accueil .discover-story .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0;
}

.accueil .discover-story .left img {
    width: 500px;
    height: auto;
    display: block;
}

.accueil .discover-story .right {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.accueil .discover-story .right .little-title p,
.accueil .discover-story .right .little-title h3 {
    margin: 0;
}

.accueil .discover-story .right .description {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.accueil .discover-story .right .checkout {
    display: flex;
    align-items: center;
    gap: 20px;
}

.accueil .discover-story .right .checkout img {
    padding: 0;
    width: 15px;
    display: block;
    flex-shrink: 0;
}

.accueil .discover-story .right .checkout p {
    margin: 0;
    line-height: 1.6;
}

.accueil .discover-story .right a {
    max-width: 90px;
    margin-top: 50px;
}

.accueil .discover-story .bottom {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e54c2a;
    border-radius: 5px;
    color: white;
    width: 70%;
    height: 100px;
}
.accueil .discover-story .bottom .container {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.accueil .discover-story .bottom .container .item {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    padding: 0 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.284);
}

.accueil .discover-story .bottom .container .item:last-child {
    border-right: none;
}

.accueil .discover-story .bottom .container .item img {
    display: block;
    margin: 0;
}

.accueil .discover-story .bottom .container .item p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7rem;
}

.accueil .discover-story .bottom .container .item h6 {
    margin-top: 0;
    margin-bottom: 10px;
}
/* ================================================
                      Produits
   ================================================ */

/********** Debut Header **********/
.produits .nv_bar_about {
  top: 0px;
  position: sticky;
  display: flex;
  height: 90px;
  background-color: #e54c2a;
  align-items: center;
  justify-content: space-between;
  padding-left: 17%;
  padding-right: 17%;
  z-index: 30;
}
.produits .hamburger {
  display: none;
}
.produits .boc1 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}
.produits .boc1 p:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.produits .boc2 {
  display: flex;
  gap: 20px;
  color: white;
  margin-left: 60px;
}
.produits .boc2 p:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.produits .boc3 {
  display: flex;
  gap: 20px;
}
.produits .boc3 hr {
  border-color: rgb(255, 255, 255, 0.6);
}
.produits .boc3 img:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.produits .icon {
  width: 15px;
  height: auto;
}
.produits .logo {
  filter: brightness(0) invert(0.9);
  height: 60px;
  width: auto;
  margin-left: 25px;
}
.produits .historique_about {
  padding-left: 17%;
  padding-bottom: 15px;
  padding-top: 20px;
}
.produits .active {
  color: rgb(211, 88, 56);
}
.produits .line {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 10px auto;
  width: 66%;
}
/*********** Fin Header **********/
.produits main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.produits .produits-responsive {
  display: none;
}
.produits .img-produits {
  padding-left: 34%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.produits .img-produits img {
  width: 420px;
  height: auto;
}
.produits .right-fixed {
  position: sticky;
  height: fit-content;
  padding-right: 34%;
  top: 160px;
  z-index: 10;
}
.produits h3 {
  margin-top: 30px;
}
.produits .price {
  color: #e54c2a;
  margin-top: 15px;
}
.produits .paragraphe {
  line-height: 2;
  margin-top: 10px;
}
.produits .brand {
  display: flex;
  gap: 6px;
  height: 25px;
  margin-top: 20px;
}
.produits .availability {
  display: flex;
  gap: 6px;
  height: 25px;
}
.produits .weight-selection {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
  margin-top: 20px;
}
.produits .weight-selection .case {
  border: 1px solid #e54c2a;
  padding: 6px 8px;
  border-radius: 3px;
  height: fit-content;
}
.produits .weight-selection .case:hover {
  cursor: pointer;
}
.produits .case.selected {
  background-color: #e54c2a;
  color: #ffffff;
}
.produits .quantity {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.produits .quantity-btn {
  display: flex;
  gap: 20px;
  border: 1px solid #8e8e8eff;
  border-radius: 16px;
  padding: 8px 16px;
}
.produits .add-to-cart {
  display: flex;
  align-items: center;
  margin-top: 25px;
  transition: all 0.3 ease;
}
.produits .add-to-cart:hover {
  opacity: 0.7;
  cursor: pointer;
}
.produits .btn-atc {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e54c2a;
  border-radius: 30px;
  padding: 10px 25px;
}
.produits .btn-atc img {
  height: 10px;
  width: auto;
}
.produits .information {
  display: flex;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 60px;
}
.produits .left-title {
  display: flex;
  width: 18%;
}
.produits .title {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.produits .scroll-ligne {
  width: 3px;
  background-color: rgb(184, 184, 184);
  border: none;
}
.produits .scroll-progression {
  width: 100%;
  height: 150px;
  background-color: #000000;
  position: sticky;
  top: 400px;
}
.produits .right-description {
  width: 82%;
  padding-left: 20px;
  padding-top: 10px;
  line-height: 1.5;
}
.produits .top-texte {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}
.produits .features-point {
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.produits .article-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 100px;
}
.produits .article-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.produits .article-child img {
  height: 160px;
  width: auto;
}
.produits .article-child {
  padding: 20px;
  border-left: rgb(224, 224, 224) 1px solid;
  border-right: rgb(224, 224, 224) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 1s;
}
.produits .article-child:hover {
  transform: translateY(-10px);
}
/********** Debut Footer **********/
.produits .newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
.produits .subtext {
  margin-top: 10px;
  margin-bottom: 40px;
}
.produits .subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 25px;
  width: 33%;
  margin-bottom: 80px;
}
.produits p.btn-sub {
  background-color: #e54c2a;
  border-radius: 20px;
  padding: 13px 35px;
  transition: all 0.3s ease;
}
.produits p.btn-sub:hover {
  opacity: 0.7;
  cursor: pointer;
}
.email-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 13px 20px;
  font-size: 0.7rem;
  background: transparent;
  color: #8e8e8e;
}
.produits .footer-nav {
  padding-left: 17%;
  padding-left: 17%;
  display: flex;
  justify-content: start;
  gap: 30px;
  line-height: 1.5;
  margin-top: 60px;
  margin-bottom: 60px;
}
.produits .footer-nav-child {
  display: flex;
  flex-direction: column;
  width: 18%;
  gap: 8px;
}
.produits .products-child:nth-child(n + 3):nth-child(-n + 4) {
  display: none;
}
.produits .footer-nav-child .rem12-font {
  margin-bottom: 8px;
}
.produits .footer-nav-child img {
  height: 70px;
  width: auto;
}
.produits .products-child {
  display: flex;
}
.produits .products-child-text {
  margin-left: 10px;
}
.produits .line2 {
  border: none;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}
.produits .credit {
  margin-right: 17%;
  margin-left: 17%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
}
.produits .credit span {
  color: #e54c2a;
}

/********** Fin Footer **********/

@media screen and (max-width: 1160px) {
  .produits .nv_bar_about {
    top: none;
    position: relative;
    display: flex;
    height: 80px;
    background-color: #e54c2a;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 30;
  }
  .produits .boc1 {
    display: none;
  }
  .produits .boc2 {
    display: none;
  }
  .produits .logo {
    margin-left: 95px;
    height: 80px;
    width: auto;
  }
  .produits .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .produits .hamburger span {
    width: 25px;
    height: 2.4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .produits .historique_about {
    padding-left: 3%;
    padding-bottom: 15px;
    padding-top: 25px;
  }
  .produits .line {
    width: 96%;
  }
  .produits .icon {
    height: 18px;
    width: auto;
  }
  .produits main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .produits .img-produits img {
    display: none;
  }
  .produits .produits-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .produits .grande-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .produits .grande-image {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  .produits .petites-images-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  .produits .petite-thumb {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    padding: 0px 50px;
  }
  .produits .petite-thumb.active {
    border-color: #e54c2a;
    transform: scale(1.1);
  }
  .produits .petite-thumb:hover {
    transform: scale(1.1);
  }
  .produits .right-fixed {
    position: relative;
    height: fit-content;
    padding-right: 0%;
    top: 0px;
  }
  .produits .information {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 60px;
  }
  .produits .left-title {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .produits .title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
  }
  .produits .scroll-ligne {
    width: 100%;
    height: 3px;
    background-color: rgb(184, 184, 184);
    border: none;
    margin-top: 15px;
  }
  .produits .scroll-progression {
    width: 120px;
    height: 3px;
    background-color: #000000;
  }
  .produits .right-description {
    width: 94%;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 1.5;
  }
  .produits .article-list {
    padding-left: 3%;
    padding-right: 3%;
  }
  .produits .article-child:nth-child(n + 3):nth-child(-n + 4) {
    display: none;
  }
  .produits .article-child img {
    height: auto;
    width: 94%;
  }
  .produits .article-child {
    padding: 10px;
    margin-top: 20px;
    border-left: rgb(224, 224, 224) 1px solid;
    border-right: rgb(224, 224, 224) 1px solid;
  }
  .produits .subscribe {
    width: 66%;
  }
  .produits .footer-nav {
    padding-left: 3%;
    padding-left: 3%;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .produits .footer-nav-child {
    width: 100%;
  }
  .produits .products-child:nth-child(n + 3):nth-child(-n + 4) {
    display: flex;
  }
  .produits .products-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .produits .footer-nav-child img {
    height: 100px;
    width: auto;
  }
  .produits .credit {
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
}

/* ================================================
                      A propos
   ================================================ */


.about .nv_bar_about {
  top: 0px;
  position: sticky;
  display: flex;
  height: 90px;
  background-color: #e54c2a;
  align-items: center;
  justify-content: space-between;
  padding-left: 17%;
  padding-right: 17%;
  z-index: 30;
}
.about .boc1 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}
.about .boc2 {
  display: flex;
  gap: 20px;
  color: white;
  margin-left: 60px;
}
.about .boc3 {
  display: flex;
  gap: 20px;
}
.about .icon {
  width: 20px;
  height: auto;
}
.about .logo {
  filter: brightness(0) invert(0.9);
  height: 60px;
  width: auto;
  margin-left: 25px;
}
.about .historique_about {
  padding-left: 17%;
  padding-bottom: 15px;
  padding-top: 20px;
}
.about .active {
  color: rgb(211, 88, 56);
}

.about .line {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 10px auto;
  width: 66%;
}

.about_us{
   margin-top: 80px;
   width: 70%;
   max-width: 1050px;
   padding-left: 17%;
}

.about_us h3{
   font-size: 40px;
}

.about .about_us+footer {
   margin-top: 80px;
}

.about .footer {
   background-color: #f5f5f5;
   margin-top: 80px;
}

.about .newsletter {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 40px;
   background-color: #F5F5F5;
}
.about .subtext {
   margin-top: 10px;
   margin-bottom: 40px;
}
.about .subscribe {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid rgb(224, 224, 224);
   border-radius: 25px;
   width: 33%;
   margin-bottom: 80px;
   background-color: white;
}
.about p.btn-sub {
   background-color: #e54c2a;
   border-radius: 20px;
   padding: 13px 35px;
}
.about .email-txt {
   margin-left: 15px;
}
.about .footer-nav {
   padding-left: 17%;
   display: flex;
   justify-content: start;
   gap: 30px;
   line-height: 1.5;
   margin-top: 60px;
   margin-bottom: 60px;
}
.about .footer-nav-child {
   display: flex;
   flex-direction: column;
   width: 18%;
   gap: 8px;
}
.about .footer-nav-child .rem12-font {
   margin-bottom: 8px;
}
.about .footer-nav-child img {
   height: 70px;
   width: auto;
}
.about .products-child {
   display: flex;
}
.about .products-child-text {
   margin-left: 10px;
}
.about .line2 {
   border: none;
   border-top: 1px solid #e5e5e5;
   width: 100%;
}
.about .credit {
   margin-right: 17%;
   margin-left: 17%;
   display: flex;
   justify-content: start;
   align-items: center;
   height: 60px;
}
.about .credit span {
   color: #e54c2a;
}

.about .newsletter + .line {
   margin-top: 30px;
}

.about .credit .img_foot {
   display: flex;
   gap: 15px;
   margin-left: auto;
}

@media (max-width: 780px) {
   
   .about .about_us{
      padding-left: 2%;
      padding-right: 5%;
      width: 94%;
   }
}

@media (max-width: 480px) {
   .about .boc3 {
      display: none;
}

.about .about_us{
   width: 90%;
}
}
/* ================================================
                  Compte Creation
   ================================================ */

/********** Debut Header **********/
.compteCreation .nv_bar_about {
  top: 0px;
  position: sticky;
  display: flex;
  height: 90px;
  background-color: #e54c2a;
  align-items: center;
  justify-content: space-between;
  padding-left: 17%;
  padding-right: 17%;
  z-index: 30;
}
.compteCreation .hamburger {
  display: none;
}
.compteCreation .boc1 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}
.compteCreation .boc1 p:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.compteCreation .boc2 {
  display: flex;
  gap: 20px;
  color: white;
  margin-left: 60px;
}
.compteCreation .boc2 p:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.compteCreation .boc3 {
  display: flex;
  gap: 20px;
}
.compteCreation .boc3 hr {
  border-color: rgb(255, 255, 255, 0.6);
}
.compteCreation .boc3 img:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.compteCreation .icon {
  width: 15px;
  height: auto;
}
.compteCreation .logo {
  filter: brightness(0) invert(0.9);
  height: 60px;
  width: auto;
  margin-left: 25px;
}
.compteCreation .historique_about {
  padding-left: 17%;
  padding-bottom: 15px;
  padding-top: 20px;
}
.compteCreation .active {
  color: rgb(211, 88, 56);
}
.compteCreation .line {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 10px auto;
  width: 66%;
}
/*********** Fin Header **********/

.compteCreation main {
  padding-left: 17%;
  padding-right: 17%;
  padding-bottom: 100px;
}
.compteCreation main .line {
  width: 100%;
}
.compteCreation .create-title {
  margin-top: 50px;
  margin-bottom: 10px;
}
.compteCreation .creation-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}
.compteCreation .creation-details input {
  width: 80%;
  padding: 6px 8px;
  color: #8e8e8e;
  border: 1px solid #8e8e8e;
  border-radius: 3px;
}
.compteCreation .creation-details p {
  display: flex;
  justify-content: end;
  width: 16%;
}
.compteCreation .main-foot-txt {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.compteCreation .main-foot-txt a {
  text-decoration: none;
}
.compteCreation .create-account-btn {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 22px;
  padding: 6px 20px;
  width: fit-content;
}
.compteCreation .create-account-btn img {
  height: 20px;
  width: auto;
}
/********** Debut Footer **********/
.compteCreation .newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  background-color: #f6f7fb;
}
.compteCreation .subtext {
  margin-top: 10px;
  margin-bottom: 40px;
}
.compteCreation .subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 25px;
  width: 33%;
  background-color: white;
}
.compteCreation p.btn-sub {
  background-color: #e54c2a;
  border-radius: 20px;
  padding: 13px 35px;
  transition: all 0.3s ease;
}
.compteCreation p.btn-sub:hover {
  opacity: 0.7;
  cursor: pointer;
}
.email-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 13px 20px;
  font-size: 0.7rem;
  color: #8e8e8e;
  margin: 0;
}
.compteCreation .kaptcha {
  position: relative;
  margin-left: auto;
  bottom: 20px;
  height: 35px;
  width: auto;
  background-color: white;
  padding: 6px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.compteCreation .footer-nav {
  padding-left: 17%;
  padding-left: 17%;
  display: flex;
  justify-content: start;
  gap: 30px;
  line-height: 1.5;
  margin-top: 60px;
  margin-bottom: 60px;
}
.compteCreation .line-foot {
  margin: 40px auto;
  border: none;
  border-top: 1px solid #e5e5e5;
  width: 66%;
}
.compteCreation .footer-nav-child {
  display: flex;
  flex-direction: column;
  width: 18%;
  gap: 8px;
}
.compteCreation .products-child:nth-child(n + 3):nth-child(-n + 4) {
  display: none;
}
.compteCreation .footer-nav-child .rem12-font {
  margin-bottom: 8px;
}
.compteCreation .footer-nav-child img {
  height: 70px;
  width: auto;
}
.compteCreation .products-child {
  display: flex;
}
.compteCreation .products-child-text {
  margin-left: 10px;
}
.compteCreation .line2 {
  border: none;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}
.compteCreation .credit {
  margin-right: 17%;
  margin-left: 17%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
}
.compteCreation .credit span {
  color: #e54c2a;
}
/********** Fin Footer **********/
@media screen and (max-width: 1160px) {
  .compteCreation .nv_bar_about {
    top: none;
    position: relative;
    display: flex;
    height: 80px;
    background-color: #e54c2a;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 30;
  }
  .compteCreation .boc1 {
    display: none;
  }
  .compteCreation .boc2 {
    display: none;
  }
  .compteCreation .logo {
    margin-left: 95px;
    height: 80px;
    width: auto;
  }
  .compteCreation .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .compteCreation .hamburger span {
    width: 25px;
    height: 2.4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .compteCreation .historique_about {
    padding-left: 3%;
    padding-bottom: 15px;
    padding-top: 25px;
  }
  .compteCreation .line {
    width: 94%;
  }
  .compteCreation .icon {
    height: 18px;
    width: auto;
  }
  .compteCreation main {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 100px;
  }
  .compteCreation .creation-details {
    gap: 4px;
  }
  .compteCreation .creation-details input {
    width: 100%;
    margin-bottom: 18px;
  }
  .compteCreation .creation-details p {
    justify-content: start;
    width: 16%;
  }
  .compteCreation .line-foot {
    width: 94%;
  }
  .compteCreation .create-account-btn {
    padding: 9px 20px;
  }
  .compteCreation .article-list {
    padding-left: 3%;
    padding-right: 3%;
  }
  .compteCreation .article-child:nth-child(n + 3):nth-child(-n + 4) {
    display: none;
  }
  .compteCreation .article-child img {
    height: auto;
    width: 94%;
  }
  .compteCreation .article-child {
    padding: 10px;
    margin-top: 20px;
    border-left: rgb(224, 224, 224) 1px solid;
    border-right: rgb(224, 224, 224) 1px solid;
  }
  .compteCreation .subscribe {
    width: 66%;
  }
  .compteCreation .footer-nav {
    padding-left: 3%;
    padding-left: 3%;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .compteCreation .footer-nav-child {
    width: 100%;
  }
  .compteCreation .products-child:nth-child(n + 3):nth-child(-n + 4) {
    display: flex;
  }
  .compteCreation .products-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .compteCreation .footer-nav-child img {
    height: 100px;
    width: auto;
  }
  .compteCreation .credit {
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
}

/* ================================================
                      CATEGORIE
   ================================================ */

.category .nv_bar_about {
  top: 0px;
  position: sticky;
  display: flex;
  height: 90px;
  background-color: #e54c2a;
  align-items: center;
  justify-content: space-between;
  padding-left: 17%;
  padding-right: 17%;
  z-index: 30;
}
.category .boc3 {
  display: flex;
  gap: 20px;
}
.category .icon {
  width: 20px;
  height: auto;
}
.category .logo {
  filter: brightness(0) invert(0.9);
  height: 60px;
  width: auto;
  margin-left: 25px;
}
.category .historique_about {
  padding-left: 17%;
  padding-bottom: 15px;
  padding-top: 20px;
}
.category .active {
  color: rgb(211, 88, 56);
}

.category .line {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 10px auto;
  width: 66%;
}

.category .Bakery{
   padding-left: 17%;
   padding-bottom: 15px;
   padding-top: 20px;
}

.category .section-category {
   height: 60px;
   margin-left:17% ;
   margin-right:17% ;
   border: 3px solid gainsboro;
   display: flex;
}

.category .section-category .btn-display {
   cursor: pointer;
}

.category .section-category .box-left {
   justify-content: start;
   display: flex;
   gap: 15px;
   padding: 15px 15px;
}

.category .section-category .box-right {
   justify-content: end;
   display: flex;
   gap: 15px;
}

.category .hat{
   display: flex;
   align-items: center;
   gap: 20px;
   color: white;
   top: 0px;
   position: sticky;
   display: flex;
   height: 90px;
   background-color: #e54c2a;
   padding-left: 17%;
   padding-right: 17%;
}

/* ================================================
                      Article
   ================================================ */

/********** Debut Header **********/
.article-page .nv_bar_about {
  top: 0px;
  position: sticky;
  display: flex;
  height: 90px;
  background-color: #e54c2a;
  align-items: center;
  justify-content: space-between;
  padding-left: 17%;
  padding-right: 17%;
  z-index: 30;
}
.article-page .boc3 {
  display: flex;
  gap: 20px;
}
.article-page .boc3 hr {
  border: none;
  border-right: 1px solid rgb(255, 255, 255, 0.6);
}
.article-page .icon {
  width: 20px;
  height: auto;
}
.article-page .logo {
  filter: brightness(0) invert(0.9);
  height: 60px;
  width: auto;
  margin-left: 140px;
}
.article-page .historique_about {
  padding-left: 17%;
  padding-bottom: 15px;
  padding-top: 20px;
}
.article-page .active {
  color: rgb(211, 88, 56);
}
.article-page .line {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 10px auto;
  width: 66%;
}
/*********** Fin Header **********/
.article-page main {
  padding-left: 17%;
  padding-right: 17%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  line-height: 1.8;
}
.article-page .img-main {
  height: 170px;
  width: auto;
  margin-right: 20px;
  margin-top: 10px;
}
.article-page .top-main {
  display: flex;
}
.article-page .description-picture {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}
.article-page .date-published {
  width: fit-content;
  margin-bottom: 15px;
}
.article-page .line-date {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 8px auto;
  width: 100%;
}
.article-page .paragraphe {
  margin-top: 10px;
  margin-bottom: 10px;
}
.article-page .hat {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  top: 0px;
  position: sticky;
  display: flex;
  height: 50px;
  background-color: #e54c2a;
  padding-left: 17%;
  padding-right: 17%;
  margin-bottom: 40px;
}
/********** Debut Footer **********/
.article-page footer {
  background-color: #f6f7fb;
}
.article-page .newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}
.article-page .subtext {
  margin-top: 10px;
  margin-bottom: 40px;
}
.article-page .subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 25px;
  width: 33%;
  background-color: white;
}
.article-page p.btn-sub {
  background-color: #e54c2a;
  border-radius: 20px;
  padding: 13px 35px;
  transition: all 0.3s ease;
}
.article-page p.btn-sub:hover {
  opacity: 0.7;
  cursor: pointer;
}
.email-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 13px 20px;
  font-size: 0.7rem;
  color: #8e8e8e;
  margin: 0;
}
.article-page .footer-nav {
  padding-left: 17%;
  padding-left: 17%;
  display: flex;
  justify-content: start;
  gap: 30px;
  line-height: 1.5;
  margin-top: 60px;
  margin-bottom: 60px;
}
.article-page .line-foot {
  margin: 40px auto;
  border: none;
  border-top: 1px solid #e5e5e5;
  width: 66%;
}
.article-page .footer-nav-child {
  display: flex;
  flex-direction: column;
  width: 19%;
  gap: 8px;
}
.article-page .products-child:nth-child(2) {
  margin-top: 20px;
}
.article-page .products-child:nth-child(n + 3):nth-child(-n + 4) {
  display: none;
}
.article-page .footer-nav-child .rem12-font {
  margin-bottom: 8px;
}
.article-page .footer-nav-child img {
  height: 70px;
  width: auto;
}
.article-page .products-child {
  display: flex;
}
.article-page .products-child-text {
  margin-left: 10px;
}
.article-page .line2 {
  border: none;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}
.article-page .credit {
  margin-right: 17%;
  margin-left: 17%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
}
.article-page .credit span {
  color: #e54c2a;
}
/********** Fin Footer **********/
@media screen and (max-width: 1160px) {
  .article-page .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .article-page .hamburger span {
    width: 25px;
    height: 2.4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .article-page .nv_bar_about {
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
  }
  .article-page .logo {
    margin-left: 95px;
    height: 80px;
    width: auto;
  }
  .article-page .historique_about {
    padding-left: 3%;
  }
  .article-page .line {
    width: 94%;
  }
  .article-page main {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 80px;
  }
  .article-page .img-main {
    height: auto;
    width: 350px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .article-page .top-main {
    flex-direction: column;
  }
  .article-page .hat {
    display: none;
  }
  .article-page .line-foot {
    width: 94%;
  }
  .article-page footer {
    background-color: white;
  }
  .article-page .create-account-btn {
    padding: 9px 20px;
  }
  .article-page .article-list {
    padding-left: 3%;
    padding-right: 3%;
  }
  .article-page .article-child:nth-child(n + 3):nth-child(-n + 4) {
    display: none;
  }
  .article-page .article-child img {
    height: auto;
    width: 94%;
  }
  .article-page .article-child {
    padding: 10px;
    margin-top: 20px;
    border-left: rgb(224, 224, 224) 1px solid;
    border-right: rgb(224, 224, 224) 1px solid;
  }
  .article-page .subscribe {
    width: 66%;
  }
  .article-page .footer-nav {
    padding-left: 3%;
    padding-left: 3%;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .article-page .footer-nav-child {
    width: 100%;
  }
  .article-page .products-child:nth-child(n + 3):nth-child(-n + 4) {
    display: flex;
  }
  .article-page .products-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .article-page .footer-nav-child img {
    height: 100px;
    width: auto;
  }
  .article-page .credit {
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
}
