/* ================================================
                      Produits
   ================================================ */

.produits main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.produits .produits-responsive {
  display: none;
}
.produits .img-produits {
  padding-left: 34%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.produits .img-produits img {
  width: 420px;
  height: auto;
}
.produits .right-fixed {
  position: sticky;
  height: fit-content;
  padding-right: 34%;
  top: 160px;
  z-index: 10;
}
.produits h3 {
  margin-top: 30px;
}
.produits .price {
  color: #e54c2a;
  margin-top: 15px;
}
.produits .paragraphe {
  line-height: 2;
  margin-top: 10px;
}
.produits .brand {
  display: flex;
  gap: 6px;
  height: 25px;
  margin-top: 20px;
}
.produits .availability {
  display: flex;
  gap: 6px;
  height: 25px;
}
.produits .weight-selection {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;
  margin-top: 20px;
}
.produits .weight-selection .case {
  border: 1px solid #e54c2a;
  padding: 6px 8px;
  border-radius: 3px;
  height: fit-content;
}
.produits .weight-selection .case:hover {
  cursor: pointer;
}
.produits .case.selected {
  background-color: #e54c2a;
  color: #ffffff;
}
.produits .quantity {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.produits .quantity-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #8e8e8eff;
  border-radius: 16px;
  user-select: none;
}
.produits .quantity-minus {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
}
.produits .quantity-plus {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 16px 8px 16px;
}
.produits .add-to-cart {
  display: flex;
  align-items: center;
  margin-top: 25px;
  transition: all 0.3 ease;
  width: fit-content;
  user-select: none;
}
.produits .add-to-cart:hover {
  opacity: 0.7;
  cursor: pointer;
}
.produits .btn-atc {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e54c2a;
  border-radius: 30px;
  padding: 10px 25px;
}
.produits .btn-atc img {
  height: 10px;
  width: auto;
}
.produits .information {
  display: flex;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 60px;
}
.produits .left-title {
  display: flex;
  width: 18%;
}
.produits .title {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.produits .scroll-ligne {
  width: 3px;
  background-color: rgb(184, 184, 184);
  border: none;
}
.produits .scroll-progression {
  width: 100%;
  height: 150px;
  background-color: #000000;
  position: sticky;
  top: 400px;
}
.produits .right-description {
  width: 82%;
  padding-left: 20px;
  padding-top: 10px;
  line-height: 1.5;
}
.produits .top-texte {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}
.produits .features-point {
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.produits .article-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 100px;
}
.produits .article-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.produits .article-child img {
  height: 160px;
  width: auto;
}
.produits .article-child {
  padding: 20px;
  border-left: rgb(224, 224, 224) 1px solid;
  border-right: rgb(224, 224, 224) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 1s;
}
.produits .article-child:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 1160px) {
  .produits main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .produits .img-produits img {
    display: none;
  }
  .produits .produits-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .produits .grande-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .produits .grande-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: none;
  }
  .produits .activate {
    display: flex;
  }
  .produits .petites-images-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  .produits .petite-thumb {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    padding: 0px 50px;
  }
  .produits .petite-thumb.active {
    border-color: #e54c2a;
    transform: scale(1.1);
  }
  .produits .petite-thumb:hover {
    transform: scale(1.1);
  }
  .produits .right-fixed {
    position: relative;
    height: fit-content;
    padding-right: 0%;
    top: 0px;
  }
  .produits .information {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 60px;
  }
  .produits .left-title {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .produits .title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
  }
  .produits .scroll-ligne {
    width: 100%;
    height: 3px;
    background-color: rgb(184, 184, 184);
    border: none;
    margin-top: 15px;
  }
  .produits .scroll-progression {
    width: 120px;
    height: 3px;
    background-color: #000000;
  }
  .produits .right-description {
    width: 94%;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 767px) {
  .produits .petite-thumb {
    padding: 0px 10px;
  }
  .produits .article-child:nth-child(n + 2):nth-child(-n + 4) {
    display: none;
  }
  .produits .article-child {
    width: 90%;
  }
  .produits .article-shop h2 {
    font-size: 2.5rem;
  }
}

/* ================================================
                  Compte Creation
   ================================================ */

.compteCreation main {
  padding-left: 17%;
  padding-right: 17%;
  padding-bottom: 100px;
}
.compteCreation main .line {
  width: 100%;
}
.compteCreation .create-title {
  margin-top: 50px;
  margin-bottom: 10px;
}
.compteCreation .creation-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}
.compteCreation .creation-details input {
  width: 80%;
  padding: 6px 8px;
  color: #8e8e8e;
  border: 1px solid #8e8e8e;
  border-radius: 3px;
}
.compteCreation .creation-details p {
  display: flex;
  justify-content: end;
  width: 16%;
}
.compteCreation .main-foot-txt {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.compteCreation .main-foot-txt a {
  text-decoration: none;
}
.compteCreation .create-account-btn {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 22px;
  padding: 6px 20px;
  width: fit-content;
  transition: 0.3 all ease;
}
.compteCreation .create-account-btn:hover {
  background-color: #d4d4d4;
  transform: translateY(-1px);
  cursor: pointer;
}
.compteCreation .create-account-btn img {
  height: 20px;
  width: auto;
}
.compteCreation .return-txt:hover {
  color: #e54c2a;
}
/********** Debut Footer **********/
.compteCreation footer {
  background-image: url(/assets/bg-footer.jpg);
}
.compteCreation .kaptcha {
  position: absolute;
  height: 35px;
  right: 0;
  background-color: white;
  padding: 6px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/********** Fin Footer **********/
@media screen and (max-width: 1160px) {
  .compteCreation main {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 100px;
  }
  .compteCreation .creation-details {
    gap: 4px;
  }
  .compteCreation .creation-details input {
    width: 100%;
    margin-bottom: 18px;
  }
  .compteCreation .creation-details p {
    justify-content: start;
    width: 16%;
  }
  .compteCreation .line-foot {
    width: 94%;
  }
  .compteCreation footer {
    background-image: none;
  }
}
@media screen and (max-width: 767px) {
  .compteCreation .creation-details p {
    width: 100%;
  }
}

/* ================================================
                      Article
   ================================================ */

/********** Debut Header **********/
.article-page .nv_bar_about {
  top: 0px;
  position: sticky;
  display: flex;
  height: 90px;
  background-color: #e54c2a;
  align-items: center;
  justify-content: space-between;
  padding-left: 17%;
  padding-right: 17%;
  z-index: 30;
}
.article-page .boc3 {
  display: flex;
  gap: 20px;
}
.article-page .boc3 hr {
  border: none;
  border-right: 1px solid rgb(255, 255, 255, 0.6);
}
.article-page .icon {
  width: 20px;
  height: auto;
}
.article-page .logo {
  filter: brightness(0) invert(0.9);
  height: 60px;
  width: auto;
  margin-left: 387px;
}
.article-page .historique_about {
  padding-left: 17%;
  padding-bottom: 15px;
  padding-top: 20px;
}
.article-page .active {
  color: rgb(211, 88, 56);
}
.article-page .line {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 10px auto;
  width: 66%;
}
.article-page .icon {
  width: 20px;
  height: auto;
}
/*********** Fin Header **********/
.article-page main {
  padding-left: 17%;
  padding-right: 17%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  line-height: 1.8;
}
.article-page .img-main {
  height: 170px;
  width: auto;
  margin-right: 20px;
  margin-top: 10px;
}
.article-page .top-main {
  display: flex;
}
.article-page .description-picture {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}
.article-page .date-published {
  width: fit-content;
  margin-bottom: 15px;
}
.article-page .line-date {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 8px auto;
  width: 100%;
}
.article-page .paragraphe {
  margin-top: 10px;
  margin-bottom: 10px;
}
.article-page .hat {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  top: 0px;
  position: sticky;
  display: flex;
  height: 50px;
  background-color: #e54c2a;
  padding-left: 17%;
  padding-right: 17%;
  margin-bottom: 40px;
}
/********** Debut Footer **********/
.article-page footer {
  background-image: url(/assets/bg-footer.jpg);
  background-size: 1600px auto;
  background-position: center;
}
/********** Fin Footer **********/
@media screen and (max-width: 1160px) {
  .article-page .hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .article-page .hamburger span {
    width: 25px;
    height: 2.4px;
    border-radius: 4px;
    background-color: #ffffff;
  }
  .article-page .nv_bar_about {
    position: relative;
    padding-left: 3%;
    padding-right: 3%;
    height: 80px;
  }
  .article-page .logo {
    margin-left: 44%;
    height: 80px;
    width: auto;
  }
  .article-page .historique_about {
    padding-left: 3%;
  }
  .article-page .line {
    width: 94%;
  }
  .article-page main {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 80px;
  }
  .article-page .img-main {
    height: auto;
    width: 350px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .article-page .top-main {
    flex-direction: column;
  }
  .article-page .hat {
    display: none;
  }
  .article-page .line-foot {
    width: 94%;
  }
  .article-page footer {
    background-image: none;
  }
}
@media screen and (max-width: 767px) {
  .article-page .nv_bar_about {
    height: 200px;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;
  }
  .article-page .logo {
    margin-left: 44%;
  }
  .article-page .boc3 {
    margin-top: 96px;
  }
  .article-page .hamburger {
    margin-top: 35px;
  }
  .article-page .boc3 a:nth-child(1) {
    display: none;
  }
  .article-page .boc3 hr:nth-child(2) {
    display: none;
  }
  .article-page .search-bar {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
  }
  .article-page .search-bar img {
    height: 22px;
    width: auto;
    position: absolute;
    right: 20px;
  }
  .article-page .search-bar input {
    width: 100%;
    height: 100%;
    background-color: #000000;
    border: 2px solid black;
    padding-left: 10px;
    color: white;
  }
  .article-page .search-bar input::placeholder {
    color: white;
  }
  .article-page .nav-hamburger {
    width: 58%;
  }
}

/* ================================================
                        Panier
   ================================================ */

.panier-page main {
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 50px;
}
.panier-page .shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panier-page .shopping-cart-child:nth-child(1) img {
  height: 80px;
  width: auto;
  border: 1px solid #e5e5e5;
}
.panier-page .shopping-cart-child {
  height: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.panier-page .element-border {
  border: 1px solid #e5e5e5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panier-page .shopping-cart-child .element-border:nth-child(1) {
  height: 20%;
}
.panier-page .shopping-cart-child .element-border:nth-child(2) {
  height: 80%;
}
.panier-page .txt-column {
  display: flex;
  flex-direction: column;
}
.panier-page .shopping-cart-child:nth-child(1) {
  width: 23%;
}
.panier-page .shopping-cart-child:nth-child(2) {
  width: 23%;
}
.panier-page .shopping-cart-child:nth-child(3) {
  width: 28%;
}
.panier-page .shopping-cart-child:nth-child(4) {
  width: 15%;
}
.panier-page .shopping-cart-child:nth-child(5) {
  width: 11%;
}
.panier-page .flex-right {
  display: flex;
  justify-content: end;
}
.panier-page .flex-right p {
  margin-right: 5px;
}
.panier-page .qty-btn img {
  height: 15px;
  width: auto;
}
.panier-page .shopping-cart-child input {
  height: 25px;
}
.panier-page .background-color-img {
  height: 29px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panier-page .background-color-img:nth-child(2) {
  background-color: #307bbc;
}
.panier-page .background-color-img:nth-child(2):hover {
  background-color: #4091d7;
  cursor: pointer;
}
.panier-page .background-color-img:nth-child(3) {
  background-color: #d9544f;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.panier-page .background-color-img:nth-child(3):hover {
  background-color: #f46c68;
  cursor: pointer;
}
.panier-page .qty-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panier-page select {
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  background-color: #f6f6f6;
  margin-top: 15px;
  height: 30px;
  width: 100%;
  padding-left: 10px;
}
.panier-page .sub-total-parent {
  display: flex;
  justify-content: end;
}
.panier-page .sub-total {
  display: flex;
  flex-direction: column;
  width: 34%;
  margin-top: 30px;
}
.panier-page .sub-total p {
  border: 1px solid #d4d4d4;
  padding: 8px;
}
.panier-page .top-txt {
  display: flex;
  text-align: center;
}
.panier-page .low-txt {
  display: flex;
  width: 100%;
}
.panier-page .low-txt p {
  width: 100%;
  display: flex;
  justify-content: end;
}
.panier-page .btn-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 80px;
}
.panier-page .btn-nav a {
  background-color: #ededed;
  border-radius: 20px;
  padding: 8px 20px;
  width: fit-content;
  color: #373737;
  transform: 0.3s all ease;
  text-decoration: none;
}
.panier-page .btn-nav a:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

@media screen and (max-width: 1160px) {
  .panier-page main {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 50px;
  }
  .panier-page .shopping-cart-child input {
    width: 50%;
    height: 32px;
  }
  .panier-page .background-color-img {
    height: 36px;
    width: 36px;
  }
  .panier-page .shopping-cart-child {
    height: 160px;
  }
  .panier-page select {
    height: 40px;
  }

  .panier-page .sub-total {
    width: 100%;
  }
  .panier-page .top-txt {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .panier-page .btn-nav p {
    padding: 12px 30px;
    font-size: 0.8rem;
  }
  .panier-page .line-foot {
    width: 94%;
  }
}
@media screen and (max-width: 767px) {
  .panier-page .shopping-cart-child:nth-child(1) img {
    height: 40px;
  }
  .panier-page .shopping-cart-child {
    height: 110px;
  }
  .panier-page .shopping-cart-child:nth-child(1) {
    width: 13%;
  }
  .panier-page .shopping-cart-child:nth-child(2) {
    width: 30%;
  }
  .panier-page .shopping-cart-child:nth-child(3) {
    width: 26%;
  }
  .panier-page .shopping-cart-child:nth-child(4) {
    width: 18%;
  }
  .panier-page .shopping-cart-child:nth-child(5) {
    width: 13%;
  }
  .panier-page .shopping-cart-child input {
    width: 20%;
  }
}
