/* ================================================
                    Style Commun
   ================================================ */

* {
  margin: 0;
  padding: 0;
}
.gray-font {
  color: #8e8e8eff;
}
.black-font {
  color: #000000;
}
.green-font {
  color: #84b535;
}
.white-font {
  color: #ffffff;
}
.rem07-font {
  font-size: 0.7rem;
}
.rem12-font {
  font-size: 1.2rem;
}
.bold {
  font-weight: bold;
}

/* ================================================
                       Accueil
   ================================================ */

/* ================================================
                      Produits
   ================================================ */

/* ================================================
                      A propos
   ================================================ */

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.nv_bar_about {
  top: 0px;
  position: sticky;
  display: flex;
  height: 90px;
  background-color: #e54c2a;
  align-items: center;
  justify-content: space-between;
  padding-left: 17%;
  padding-right: 17%;
}
.boc1 {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}
.boc2 {
  display: flex;
  gap: 20px;
  color: white;
  margin-left: 60px;
}
.boc3 {
  display: flex;
  gap: 20px;
}
.icon {
  width: 20px;
  height: auto;
}
.logo {
  filter: brightness(0) invert(0.9);
  height: 60px;
  width: auto;
  margin-left: 25px;
}
.historique_about {
  padding-left: 17%;
  padding-bottom: 15px;
  padding-top: 20px;
}
.active {
  color: rgb(211, 88, 56);
}
.line {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 10px auto;
  width: 66%;
}

